<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/tablet.css">

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <figure>
                <img src="/assets/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo">
            </figure>

            <h2 class="txt-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>

        <a href="" class="burger-button">
            <i class="fas fa-bars"></i>
        </a>  
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>                    <li><a href="">Ayuda</a></li>
            </ul>
                    
            <ul class="right-navbar">
                <li><a href="">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>   
        </nav>
    </header>

    <main>
        <img class ="banner" src="/assets/img-home-banner.jpg" alt="banner">
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <article>
                <img src="/assets/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h3 class="nombre-producto">Cafetera Moulinex</h3>
                </div>
            </article>
            <article >
                <img src="/assets/img-macbook-pro-2019.jpg" alt="imagen de MacBook" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$230.000   </p>
                    <p class="descuento">20% off</p>
                    <h3 class="nombre-producto">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/assets/img-samsung-galaxy-s10.jpg" alt="imagen Samsung" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h3 class="nombre-producto">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="/assets/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h3 class="nombre-producto">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section>
            <h2 class="titulares">Ofertas</h2>
            <article id="uno" >
                <img src="/assets/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h3 class="nombre-producto">Cafetera Moulinex</h3>
                </div>
            </article>
            <article id="dos">
                <img src="/assets/img-macbook-pro-2019.jpg" alt="imagen de MacBook" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$230.000   </p>
                    <p class="descuento">20% off</p>
                    <h3 class="nombre-producto">MacBook Pro 2019</h3>
                </div>
            </article>
            <article id="tres">
                <img src="/assets/img-samsung-galaxy-s10.jpg" alt="imagen Samsung" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h3 class="nombre-producto">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article id="cuatro">
                <img src="/assets/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" class="foto-producto">
                <div>
                    <i class="fa-solid fa-truck" class="envio"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h3 class="nombre-producto">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="txt-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="txt-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class="txt-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <p class="txt-end">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>