<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/fonts.css">
    

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <figure>
                <img src="/assets/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo">
            </figure>

            <form action="/" method="get" class="search-bar">
                
                <fieldset>
                <input type="text" name="search" id="searchBar" placeholder="Buscar productos, marcas y más">
                <button><i class = "fa fa-search"></i></button>
                </fieldset>
            </form>

            <h2 class="txt-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>

        <a href="" class="burger-button">
            <i class="fas fa-bars"></i>
        </a>  
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>                    <li><a href="">Ayuda</a></li>
            </ul>
                    
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>   
        </nav>
    </header>
    <main>
        <form action="/" method="post">
            <fieldset>
                <legend>Informacion Personal</legend>
                <input type="text" name="name" id="name" placeholder="Nombre y apellido">                
                <input type="email" name="email" id="email" placeholder="Correo electrónico">
                <input type="text" name="adress" id="adress" placeholder="Domicilio">
                <label for="date"></label>Fecha de Nacimiento</label>
                <input type="date" name="date" id="date">
            </fieldset>
            <fieldset>
                <legend>Perfil</legend>

                <input type="text" name="userName" id="userName" placeholder="Nombre de usuario">

                <label for="profileImage">Foto de Perfil</label>
                <input type="file" name="profileImage" id="profileImage"

                <label>Tipo de Perfil</label>
                <label for="c">Comprador</label>
                <input type="radio" name="perfil" id="c" Value="Comprador">
                <label for="c">Vendedor</label>
                <input type="radio" name="perfil" id="v" Value="Vendedor">

                <label>Intereses</label>
                <label for="electro">Electro</label>
                <input type="checkbox" name="intereses" id="electro">
                <label for="moda">Moda</label>
                <input type="checkbox" name="intereses" id="moda">
                <label for="hogar">Hogar</label>
                <input type="checkbox" name="intereses" id="hogar">
                <label for="toys">Juguetería</label>
                <input type="checkbox" name="intereses" id="toys">
                <label for="vidaSana">Vida Sana</label>
                <input type="checkbox" name="intereses" id="vidaSana">

                <input type="password" name="password" id="password" placeholder="Contraseña">

                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmar contraseña">

            </fieldset>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar contenido</button>
        </form>
        
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="txt-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="txt-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class="txt-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <p class="txt-end">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>
